server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    root: warn
    org:
      springframework:
        web: debug
        data:
          rest: debug

spring:
  application:
    name: notifications

  datasource:
    username: ${DB_USER}
    password: ${DB_PASS}
    url: jdbc:postgresql://${DB_HOST}/${DB_DATABASE}?stringtype=unspecified

  web:
    error:
      include-message: always
      include-binding-errors: always

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: validate

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_ADDRESS}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    bootstrap-servers:
      - ${KAFKA_HOST}

    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JacksonJsonDeserializer

    producer:
      value-serializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer

security:
  rsa:
    public-key: classpath:certs/public-key.pem

kafka:
  topics:
    user-commands:
      topic: user-commands
      default-value: spring.json.value.default.type=edu.raijin.commons.infrastructure.adapter.messaging.event.identity.UserEvent
